@model  SmartVentilation.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">
            Plán ventilace
            
        </h1>
        <h3>
            <a href="/?date=@Model.ViewDate.AddDays(-1).ToString("yyyy-MM-dd")">ᐊ</a>
            @Model.ViewDate.ToShortDateString()
        <a href="/?date=@Model.ViewDate.AddDays(1).ToString("yyyy-MM-dd")">ᐅ</a>
        </h3>
        @if (Model.Temperature != null)
        {
            <h3>Venkovní teplota: @Model.Temperature °C</h3>
        }
        <div id="calendar"></div>
    </div>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            theme: false,
            //header: {
            //    left: '',
            //    center: '',
            //    right: ''
            //},
            header: {
                left: '',
                center: '',
                right: ''
            },
            locale: 'cz',
            height: 100,
            contentHeight: 200,
            scrollTime: '06:00:00',
            defaultView: 'agendaDay',
            axisFormat: 'H:mm',
            timeFormat: 'H:mm',
            nowIndicator: true,
            now: '@DateTime.Now.ToString("s")',
            editable: false,
            events: "/Home/GetEvents?date=@Context.Request.Query["date"]",
            //eventColor: '#378006'
        });
    });
</script>