@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ventilation Schedule</h1>
    <div id="calendar"></div>
</div>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            theme: false,
            header: {
                left: '',
                center: '',
                right: ''
            },
            defaultView: 'agendaDay',
            editable: false,
            events: "/Home/GetEvents/",
            eventColor: '#378006'
        });
    });
</script>